<div class="flex flex-col max-w-340 md:min-w-200 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Portfolio balance</div>
        <button mat-icon-button (click)="onNoClick()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col flex-auto p-6 sm:p-8">
        <form class="flex" [formGroup]="transactionForm">
            <div class="flex items-center w-2/6 mt-6 mr-10 grid">
                <h1 class="display-4 color-theme-1 mb-1 value">
                    {{portfolio ? portfolio.amount : 0 | currency:'USD':'symbol':'0.0-0'}}
                </h1>
                <p class="mb-0 label text-small">Current value</p>
            </div>
            <div class="flex items-center w-full mt-6 grid grid-cols-2 md:grid-cols-3 gap-4">
                <mat-form-field class="flex-auto">
                    <mat-label>Amount</mat-label>
                    <input formControlName="amount" matInput type="number" [placeholder]="1000" />
                    <span matPrefix>$</span>
                </mat-form-field>

                <mat-form-field class="flex-auto" formControlName="date">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div class="flex items-center gap-4">
                    <button *ngIf="portfolio" type="submit" mat-raised-button mat-dialog-close
                        [disabled]="!transactionForm.valid" (click)="onSubmit('WITHDRAW')">Withdraw</button>
                    <button type="submit" mat-raised-button mat-dialog-close [disabled]="!transactionForm.valid"
                        (click)="onSubmit('DEPOSIT')">Deposit</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="portfolio" class="flex flex-auto justify-center p-6 sm:p-8 overflow-y-auto">
        <perfect-scrollbar class="scroll max-w-md" [config]="{suppressScrollX: true, wheelPropagation: false}">
            <table class="table table-sm table-borderless">
                <tbody>
                    <tr *ngFor="let transaction of portfolio.transactions" class="cursor-pointer" #tooltip="matTooltip"
                        matTooltip="{{transaction.transactionType}}" matTooltipPosition="before">
                        <td>
                            <span class="transaction-indicator align-middle"
                                [ngClass]="isProfitable(transaction) ? 'border-green-600': 'border-red-600'"></span>
                        </td>
                        <td class="text-right">
                            <span class="font-weight-medium">{{transaction.amount | currency:'USD'}}</span>
                        </td>
                        <td class="text-right"><span class="text-muted">{{transaction.date | date:'mediumDate'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </perfect-scrollbar>
    </div>
</div>