<!-- Title and action buttons -->
<div class="flex items-center justify-between w-full">
    <div>
        <h2 class="text-3xl font-semibold tracking-tight leading-8">Strategies</h2>
        <div class="font-medium tracking-tight text-secondary">Keep track of each strategy performance</div>
    </div>
    <div class="flex items-center ml-6">
        <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'"
            (click)="openNewStrategyDialog()">
            <mat-icon svgIcon="mat_outline:add"></mat-icon>
            <span class="ml-2">New Strategy</span>
        </button>

        <!-- Actions menu (visible on xs) -->
        <div class="sm:hidden">
            <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="openNewStrategyDialog()">New Strategy</button>
            </mat-menu>
        </div>
    </div>
</div>

<mat-tab-group class="mt-10" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="{{strategy.name}}" *ngFor="let strategy of strategies$ | async; let index = index">
        <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 flex-row w-full"> -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 flex-row w-full" *ngIf="selected.value == index" #strategyView
            [id]="strategy._id">
            <!-- Visitors overview -->
            <!-- Conversions -->

            <!-- Impressions -->
            <div class="flex flex-col flex-auto bg-card shadow rounded-xl overflow-hidden">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Strategy Performance</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                            [matMenuTriggerFor]="impressionsMenu">
                            <span class="font-medium text-sm text-secondary">30 days</span>
                        </button>
                        <mat-menu #impressionsMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">{{getPnL()}}</div>
                    <!-- <div class="text-7xl font-bold tracking-tighter leading-tight">{{data1.impressions.amount | number:'1.0-0'}}</div> -->
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon *ngIf="getPnLPercentage() < 0" class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'">
                        </mat-icon>
                        <mat-icon *ngIf="getPnLPercentage() > 0" class="icon-size-5 text-green-500"
                            [svgIcon]="'heroicons_solid:trending-up'">
                        </mat-icon>
                        <div
                            class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium"
                                [ngClass]="getPnLPercentage() > 0 ? 'text-green-500' : 'text-red-500'">{{getPnLPercentage()}}%</span>
                            <!-- <span class="ml-1">below target</span> -->
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-10">
                    <apx-chart class="flex-auto w-full h-10" [chart]="(chart$ | async).chart"
                        [colors]="(chart$ | async).colors" [series]="(chart$ | async).series"
                        [stroke]="(chart$ | async).stroke" [tooltip]="(chart$ | async).tooltip"
                        [xaxis]="(chart$ | async).xaxis" [yaxis]="(chart$ | async).yaxis"></apx-chart>
                </div>
            </div>
            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <fuse-card class="flex flex-col w-full p-8 filter-info ">
                    <div class="flex flex-row">

                        <!-- <hr class="w-full border-t"> -->
                        <div class="flex flex-col justify-between border-r w-1/3">
                            <div class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'mat_outline:monetization_on'"></mat-icon>
                                <span>Seed Capital <br />{{strategy.seed}}$</span>
                            </div>
                            <div class="flex items-center mt-4">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'mat_outline:verified_user'"></mat-icon>
                                <span>Max risk per trade <br />{{strategy.maxTradeLoss}}% =
                                    {{calculateAmountOfPercent(strategy.seed, strategy.maxTradeLoss)}}$</span>
                            </div>
                            <div class="flex items-center mt-4">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'mat_solid:verified_user'"></mat-icon>
                                <span>Max risk per strategy <br />{{strategy.maxLoss}}% =
                                    {{calculateAmountOfPercent(strategy.seed, strategy.maxLoss)}}$</span>
                            </div>
                        </div>
                        <div class="flex flex-col w-2/3 items-start justify-between ml-2">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">{{strategy.name}}</div>
                            <div class="mt-4">
                                {{strategy.comment}}
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto w-full items-center mt-6">
                        <button class="px-6" mat-flat-button [color]="'primary'">
                            Update Strategy
                        </button>
                    </div>
                </fuse-card>
            </div>
        </div>
        <!-- TradeList -->
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">
            <div class="xl:col-span-6 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <trade-list strategyId="{{strategy._id}}"></trade-list>
            </div>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Bonus Strategy"></mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add</mat-icon>
      New
    </ng-template>
  </mat-tab> -->
</mat-tab-group>