<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Dashboard</h2>
                <div class="font-medium tracking-tight text-secondary">Keep track of your financial status</div>
            </div>
            <div class="flex items-center ml-6">
                <!-- <button
                    class="hidden sm:inline-flex"
                    mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                    <span class="ml-2">Reports</span>
                </button> -->
                <button class="hidden sm:inline-flex ml-3" mat-stroked-button>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                    <span class="ml-2">Settings</span>
                </button>
                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:save'"></mat-icon>
                    <span class="ml-2">Export</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Reports</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <!-- Previous statement -->
                <!-- <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                            [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Best Trade</div>
                            <div class="text-green-600 font-medium text-sm">
                                {{data.previousStatement.date}}
                            </div>
                        </div>
                        <div class="ml-auto -mt-2">
                            <button mat-icon-button [matMenuTriggerFor]="previousStatementMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #previousStatementMenu="matMenu">
                                <button mat-menu-item>
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:credit-card'">
                                        </mat-icon>
                                        <span>View statement</span>
                                    </span>
                                </button>
                                <button mat-menu-item>
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cash'">
                                        </mat-icon>
                                        <span>Spending breakdown</span>
                                    </span>
                                </button>
                                <button mat-menu-item>
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:receipt-tax'">
                                        </mat-icon>
                                        <span>Tax breakdown</span>
                                    </span>
                                </button>
                                <mat-divider class="my-2"></mat-divider>
                                <button mat-menu-item>
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:printer'">
                                        </mat-icon>
                                        <span>Print statement</span>
                                    </span>
                                </button>
                                <button mat-menu-item>
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:mail'">
                                        </mat-icon>
                                        <span>Email statement</span>
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap mt-4 -mx-6">
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Ticker</div>
                            <div class="mt-2 font-medium text-3xl leading-none">AAPL</div>
                        </div>
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Spent</div>
                            <div class="mt-2 font-medium text-3xl leading-none">{{data.previousStatement.spent |
                                currency:'USD'}}</div>
                        </div>
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Profit</div>
                            <div class="mt-2 font-medium text-3xl leading-none">{{data.previousStatement.minimum |
                                currency:'USD'}}</div>
                        </div>
                    </div>
                </div> -->
                <!-- Current statement -->
                <trade-card [title]="'Best Trade'" [type]="1"></trade-card>
                <trade-card [title]="'Last Trade'" [type]="0"></trade-card>
            </div>
            <app-portfolio></app-portfolio>

        </div>

        <app-strategy class="mt-20"></app-strategy>

    </div>

</div>